@mixin btn($btn-bg-color:#ddd, $color:#222, $border-color:#ddd){
    // we can pass the parameter like $btn-bg-color: red; inside the first bracket
    border: 1px solid $border-color;
    background: $btn-bg-color;
    color: $color;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
}

// if else condition with mixin
@mixin serFontSize ($value){
    @if $value == small{
        font-size: 12px;
    }@else if $value == medium{
        font-size: 20px;
    }@else{
        font-size: 25px;
    }
}
